@font-face {
	font-family: lato;
	src:url(../fonts/lato/lato_regular.eot?) format("eot"), url(../fonts/lato/lato_regular.woff) format("woff"), url(../fonts/lato/lato_regular.ttf) format("truetype"), url(../fonts/lato/lato_regular.svg#svgfuturastd) format("svg");
}
@font-face {
	font-family: lato_bold;
	src:url(../fonts/lato_bold/lato_bold.eot?) format("eot"), url(../fonts/lato_bold/lato_bold.woff) format("woff"), url(../fonts/lato_bold/lato_bold.ttf) format("truetype"), url(../fonts/lato_bold/lato_bold.svg#svgfuturastd) format("svg");
}
@font-face {
	font-family: lato_light;
	src:url(../fonts/lato_light/lato_light.eot?) format("eot"), url(../fonts/lato_light/lato_light.woff) format("woff"), url(../fonts/lato_light/lato_light.ttf) format("truetype"), url(../fonts/lato_light/lato_light.svg#svgfuturastd) format("svg");
}
