
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!--INTRO-->
    <div id="intro">
   
    </div>
    <!--END INTRO-->
    
     <!--TAPPO-->
    <div id="tappo">
    <!--<img src="/images/gallery_icon/scroll_tappo/photo_1.jpg" class="active" alt="The Crown Cap   Red star" />-->
	<img src="/images/photo_1_1.jpg" alt="皇冠型瓶盖与红星标志"/>
    <!--<img src="/images/gallery_icon/scroll_tappo/photo_3.jpg" alt="The Crown Cap   Red star"/>-->
    </div>
    <!--END TAPPO-->
    
    <!--BOLLO-->
    <div id="bollo">
    <img src="/images/photo_2_1.jpg" class="active" alt="瓶颈标"/>
    <img src="/images/photo_2_2.jpg" alt="瓶颈标"/>
    </div>
    <!--END BOLLO-->
    
    <!--ETICHETTA-->
    <div id="etichetta">
    <img src="/images/photo_3_1.jpg" class="active" alt="主瓶标"/>
	<img src="/images/photo_3_2.jpg" alt="主瓶标"/>
    <!--<img src="/images/gallery_icon/scroll_etichetta/photo_3.jpg" alt="The Front Label"/>-->
    </div>
    <!--END ETICHETTA-->
    
      <!--TEXT_INTRO-->
    	<p id="text_intro">{fun labelcus(3,'body')}</p>
    <!--END TEXT_INTRO-->
    
    <!--TEXT_TAPPO-->
    	<p id="text_tappo"> {fun labelcus(4,'body')}
</p>
    <!--END TEXT_TAPPO-->	
    
    <!--TEXT_BOLLO-->
    	<p id="text_bollo"> {fun labelcus(5,'body')}</p>
    <!--END TEXT_BOLLO-->
    
    <!--TEXT_ETICHETTA-->
    	<p id="text_etichetta"> {fun labelcus(6,'body')}
</p>
    <!--END TEXT_ETICHETTA-->
    
    <!--TITLE_INTRO-->
    <span id="title_intro">{fun labelcus(3,'name')} </span>
    <!--END TITLE_INTRO-->
    
    <!--TITLE_TAPPO-->
    <span id="title_tappo">{fun labelcus(4,'name')} </span>
    <!--END TITLE_TAPPO-->
    
    <!--TITLE_BOLLO-->
    <span id="title_bollo">{fun labelcus(5,'name')} </span>
    <!--END TITLE_BOLLO-->
    
    <!--TITLE_ETICHETTA-->
    <span id="title_etichetta">{fun labelcus(6,'name')} </span>
    <!--END TITLE_ETICHETTA-->

