<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

<script type="text/javascript">
    $(document).ready(function () {
                showPage(0);
            }
    );
</script>
<!--LIST-->
<div class="list_results">
    <!--NAVIGATION-->
    <div class="navigation" id="pager">
        <!--PAGINATION-->

        <div class="pagination">

            <?php echo $pages ?>

        </div>

    </div>
    <!--END NAVIGATION-->

    <div class="page">
        <div class="list_items">
            <?php foreach ($lists as $v) { ?>

            <?php if($v['id'] != 84): ?>
            <div class="list_item">
                <a onclick="brandNewsLoad(<?php echo $v['id'] ?>)" href="#"><img src="<?php echo $v['litpic'] ?>"
                                                                                 alt=""/></a>

                <h3><a onclick="brandNewsLoad(<?php echo $v['id'] ?>)"
                       href="#"><?php echo newstr($v['title'], 20) ?>
                    <!-- - 29/11/2012 -->
                </a></h3>
                            <span class="label">
                            	<a onclick="brandNewsLoad(<?php echo $v['id'] ?>)" href="#"></a>
                            </span>
                <a class="viewDetail" onclick="brandNewsLoad(<?php echo $v['id'] ?>)" href="#">查看详情</a>
            </div>
            <?php endif; ?>
            <?php } ?>


            <br clear="all">
        </div>
    </div>
    <div class="page"></div>
    <div class="page"></div>
</div>


    
